/* Supprime les marges et assure que le body prend toute la place */
body {
    margin: 0;
    padding: 0;
    width: 99vw;
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden;
}

/* Le conteneur prend toute la largeur et hauteur de l'écran */
.image-container {
    width: 95vw;
    height: 95vh;
}

/* L'image couvre tout l'écran sans être déformée */
.responsive-image {
    width: 95%;
    height: 95%;
    object-fit: cover; /* Ajuste l'image pour remplir l'écran tout en gardant le ratio */
}
